# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

sdd/

# Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
ppg_frontend/coverage/

**/node_modules
**/dist
**/dist-ssr
**/*.local
**/.vite

# Backend
**/__pycache__
**/.venv
**/.pytest_cache
**/.ruff_cache
*.tar
ppg_backend/app/services/snapshots/
!ppg_backend/app/services/snapshots/*.py
!ppg_backend/app/services/snapshots/config.json
ppg_backend/test/performance/performance_histogram.png
ppg_backend/test/performance/performance.out
ppg_backend/.coverage

# Database
ppg_database/db_data/
ppg_database/.gitignore

# etc
**/nohup.out